<!DOCTYPE html>
<html lang="es">

	<head>
	    <meta charset="UTF-8">
	    <title>Cookcinando</title>
	    <link rel="stylesheet" href="../../js/css/bootstrap.min.css">
	    <link rel="stylesheet" href="../../js/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="../../style.css">
	    <script src="../../js/jquery.min.js"></script>
	    <script src="../../js/js/bootstrap.min.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-4 titulo">
                    <a href="/"><h1>Cookcinando</h1></a>
	            </div>
	             <div class="col-md-5" id="buscador">
                <form action="/recetas" method="get" name="buscar">
                <div id="div-search" class="input-group input-group-lg">
                  <input type="text" name='search' class="form-control" placeholder="Buscar...">
                  <span id="span-search" class="input-group-addon">
                    <button id="btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div>
                <label class="checkbox-inline"><input type="checkbox" name="ingrediente">Ingrediente</label>
                <label class="checkbox-inline"><input type="checkbox" name="tipoComida">Tipo de comida</label>
                </form>
            </div>
	        <div class="col-md-3 menu">
	                {{#usernotlogged}}
	                    <ul class="nav nav-pills cerrar-sesion">
			                <li><a href="/login">Inicia sesión</a></li>
		                    <li class="active"><a href="/login">Regístrate</a></li>
		                </ul>
		             {{/usernotlogged}}
		             {{#userlogged}}
			             <ul class="nav nav-pills cerrar-sesion">
			             <li><a href="/privado/mi-cuenta">Mi cuenta</a></li>
		                    <form action="/logout" method="post">
		                    	<li class="active"><input class="btn" type="submit" value="Cerrar sesión"></li>
		                    </form>
		                </ul>
		             {{/userlogged}}
	            </div>
	        </div>
	    </div>
	    
	    <div class="thumbnail-restaurante" style=" background: url({{evento.thumbnail}}) no-repeat 50% fixed;background-size: 100%;">
	    </div>
	    <div class="container-fluid seccInter">
	        <div class="row">
	            <div class="col-md-12">
	                <h2 class="text-center">{{evento.title}}</h2>
	                {{#creator}}
		                 <div class="restaurente-botones" id="ucreador">
							<form action="/privado/eventos/eliminar/{{evento.id}}">
								<button type="submit" class="btn btn-default publicar">Eliminar</button>
							</form>
							<form action="/privado/eventos/editar/{{evento.id}}">
								<button style="margin-left: 10px" type="submit" class="btn btn-default publicar">Editar</button>
							</form>
						</div>
					{{/creator}}
					{{#notcreatorFAV}}
						<div class="restaurente-botones" id="uregistrado">
							<form action="/privado/eventos/remove-fav/{{evento.id}}">
								<button style="margin-top: 10px" type="submit" class="btn btn-default publicar">Quitar de Favoritos</button>
							</form>
						</div>
					{{/notcreatorFAV}}
					{{#notcreator}}
						<div class="restaurente-botones" id="uregistrado">
							<form action="/privado/eventos/add-fav/{{evento.id}}">
								<button style="margin-top: 10px" type="submit" class="btn btn-default publicar">Añadir a Favoritos</button>
							</form>
						</div>
					{{/notcreator}}
	            	<div class="tipo-comida-restaurante">
		                <ul>
			                <li class="label label-default">Tipo de comida</li>
			                {{#evento.typesFood}}
				                <li class="label label-info"><a href="#">{{.}}</a></li>
				            {{/evento.typesFood}}
		                </ul>
	                </div>
	                <div class="redes-sociales-botones" style="top:40px" >
	                    <a href="https://www.facebook.com/sharer.php?u="><img src="../img/facebook.png" width="30px" height="auto" /></a>
	                    <a href="http://twitter.com/share"><img src="../img/twitter.png" width="30px" height="auto" style="margin-left:10px"/></a>
	                </div>
	                <div class="contenido-restaurante">
	                    {{{evento.body}}}
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="container-fluid">
	        <h3 class="text-center recetas-h1">Eventos relacionados</h3>
	        {{#recomendadas}}
	            <div class="col-md-4">
	                <a href="/eventos/{{id}}">
	                	<div class="thumbnail">
	                    	<img src="{{thumbnail}}" alt="{{title}}">
	                    	<div class="caption">
	                        	<h3>{{title}}</h3>
	                       		<p>{{description}}</p>
	                    	</div>
						</div>
					</a>
	            </div>
	       {{/recomendadas}}
	    </div>
	    <div class="container-fluid footer">
	        <div class="row">
	            <div class="col-md-3 logo"> 
	               <a href="/"><h1>Cookcinando</h1></a>
	            </div>
	            <div class="col-md-5 enlaces"> 
	                <h1>ENLACES</h1>
	                <div class=" col-md-4">
	                    <ul>
	                        <li>Acerca de</li>
	                        <li>Ayuda</li>
	                    </ul>
	                </div>
	                <div class="col-md-4">
	                    <ul>
                            <a href="/recetas/"><li>Recetas</li></a>
	                        <a href="/restaurantes/"><li>Restaurantes</li></a>
	                        <a href="/eventos/"><li>Eventos</li></a>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-4 imagenes"> 
	                <h1>REDES SOCIALES</h1>
                    <div class=" col-md-4"><a href="https://www.facebook.com/"><img src="../img/facebook.png" width="100px" height="auto" class="img-responsive"/></a></div>
                    <div class=" col-md-4"><a href="https://twitter.com/?lang=es"><img src="../img/twitter.png" width="100px" height="auto" class="img-responsive" /></a></div>
                    <div class=" col-md-4"><a href="https://accounts.google.com"><img src="../img/googleplus.png" width="100px" height="auto" class="img-responsive" /></a></div>
	            </div>
	        </div>    
	    </div>
	</body>

</html>
