<app-header></app-header>
<div class="container-fluid">
    <div *ngIf="loginService.isLogged" class="row">
        <app-user-menu [eventos]='true'  class="col-md-2"></app-user-menu>
        <div *ngIf="evento" class="col-md-8">
            <div *ngIf="newEvento" class="cabecera-subrayada">
                <h1>Añadir nuevo evento</h1>
            </div>
            <div *ngIf="!newEvento" class="cabecera-subrayada">
                <h1>Editar evento</h1>
            </div>
            <div class="inputs-receta">
                <h3>Titulo</h3>
                <input type="text" name="titulo" class="form-control" [(ngModel)]="evento.title">
                <h3>Descripcion</h3>
                <input type="text" name="decripcion" class="form-control" [(ngModel)]="evento.description">
                <h3>Imagen de Cabecera</h3>
                <input #imagenCabecera type="file" (change)="saveEvent($event)" name="file" id="input-image" />
                 <h2>Cuerpo del evento</h2>
                <div [froalaEditor] [(froalaModel)]="evento.body"></div>
                <br>
                <a title="Modo de escritura" data-toggle="popover" data-trigger="hover" data-content="Escribe los tipos de comida del evento separados por comas"><label>Tipos de comida...</label></a>
                <input class="form-control" name="comidas"  type="text" [(ngModel)]="typesFoodString">
                <button *ngIf="editar" (click)='editarEvento()' class="btn btn-default publicar">Editar Evento</button>
                <button *ngIf="guardar" (click)='nuevoEvento()' class="btn btn-default publicar">Publicar nuevo Evento</button>
            </div>
        </div>
    </div>
    <div *ngIf="!loginService.isLogged" class="row">
        <h2>No tienes permisos para ver esta parte de la web</h2>
    </div>
</div>
<app-footer></app-footer>