<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-3 logo">
            <a href="/"><h1>Cookcinando</h1></a>
        </div>
        <div class="col-md-5 enlaces">
            <h1>ENLACES</h1>
            <div class="col-md-4">
                <ul>
                    <li>Acerca de</li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <a href="/recetas/"><li>Recetas</li></a>
                    <a href="/restaurantes/"><li>Restaurantes</li></a>
                    <a href="/eventos/"><li>Eventos</li></a>
                </ul>
            </div>
        </div>
        <div class="col-md-4 imagenes"> 
            <h1>REDES SOCIALES</h1>
            <div class=" col-md-4"><a href="https://www.facebook.com/"><img src="../assets/img/facebook.png" width="100px" height="auto" class="img-responsive"/></a></div>
            <div class=" col-md-4"><a href="https://twitter.com"><img src="../assets/img/twitter.png" width="100px" height="auto" class="img-responsive" /></a></div>
            <div class=" col-md-4"><a href="https://accounts.google.com/"><img src="../assets/img/googleplus.png" width="100px" height="auto" class="img-responsive" /></a></div>
        </div>
    </div>
</div>