<app-header></app-header>
    <div class="container-fluid">
        <div *ngIf="user" class="row">
            <div class="col-md-5 perfil-publico">
                <img class="avatar" src="{{user.thumbnail}}" width="200px" height="200px"/>
                <h3>{{user.name}} {{user.surname}}</h3>
                <h5>@{{user.nick}}</h5>
                <p>{{user.description}}</p>
            </div>
        </div>
    </div>
    <div class="redes-sociales-botones" style="top:-15px" >
        <a href="https://www.facebook.com/sharer.php?u="><img src="../../img/facebook.png" width="30px" height="auto" /></a>
         <a href="http://twitter.com/share"><img src="../../img/twitter.png" width="30px" height="auto" style="margin-left:10px"/></a>
    </div>
    <div class="container">
        <div class="row">
            <ngb-tabset>
                <ngb-tab title="Recetas">
                    <template ngTabContent>
                        <!--<div id="recetas-propias" class="tab-pane fade in active">
                            <div class="page-header"><h1 style="text-align:center">Recetas de {{user.name}}</h1></div>
                            <div *ngFor="let recipe of user.myRecipes" class="col-md-4">
                                <a [routerLink]="['/recetas',recipe.id]">
                                    <div class="thumbnail">
                                        <img src="{{recipe.thumbnail}}" alt="{{recipe.title}}">
                                        <div class="caption">
                                            <h3>{{recipe.title}}</h3>
                                            <p>{{recipe.description}}</p>
                                        </div>
                                     </div>
                                </a>
                            </div>
                        </div>-->
                    </template>
                </ngb-tab>
                <ngb-tab title="Restaurantes">
                    <template ngTabContent>

                    </template>
                </ngb-tab>
                <ngb-tab title="Eventos">
                    <template ngTabContent>

                    </template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>    
                <!--<ul class="nav nav-tabs">
                    <li class="active dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recetas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a data-toggle="tab" href="#recetas-propias">Recetas propias <span style="background-color: #f0ad4e" class="badge">{{recipes.size}}</span></a></li>
                            <li><a data-toggle="tab" href="#recetas-favoritas">Recetas favoritas <span style="background-color: #f0ad4e" class="badge">{{fav-recipes.size}}</span></a></li>
                        </ul>
                    </li>
                    <li><a data-toggle="tab" href="#restaurantes-favoritos">Restaurantes favoritos <span style="background-color: #f0ad4e" class="badge">{{fav-restaurants.size}}</span></a></li>
                    <li><a data-toggle="tab" href="#eventos-favoritos">Eventos favoritos <span style="background-color: #f0ad4e" class="badge">{{fav-events.size}}</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="recetas-propias" class="tab-pane fade in active">
                        <div class="page-header"><h1 style="text-align:center">Recetas de {{name}}</h1></div>
                        {{#recipes}}
                        <div class="col-md-4">
                            <a href="../recetas/{{id}}">
	                            <div class="thumbnail">
	                                <img src="{{thumbnail}}" alt="{{title}}">
	                                <div class="caption">
	                                    <h3>{{title}}</h3>
	                                    <p>{{description}}</p>
	                                </div>
	                             </div>
	                    	</a>
                        </div>
                        {{/recipes}}
                       
                    </div>
                    <div id="recetas-favoritas" class="tab-pane fade">
	                	<div class="page-header"><h1 style="text-align:center">Recetas favoritas de {{name}}</h1></div>
	                 	{{#fav-recipes}}   
	                        <div class="col-md-4">
	                            <a href="../recetas/{{id}}"><div class="thumbnail">
	                                <img src="{{thumbnail}}" alt="{{title}}">
	                                <div class="caption">
	                                    <h3>{{title}}</h3>
	                                    <p>{{description}}</p>
	                                </div>
	                                </div></a>
	                   		</div>
	               		{{/fav-recipes}}
                    </div>
                    <div id="restaurantes-favoritos" class="tab-pane fade">
                        <div class="page-header"><h1 style="text-align:center">Restaurantes favoritos de {{name}}</h1></div>
                        {{#fav-restaurants}}  
	                        <div class="col-md-4">
	                            <a href="../restaurantes/{{id}}"><div class="thumbnail">
	                                <img src="{{thumbnail}}" alt="{{title}}">
	                                <div class="caption">
	                                    <h3>{{title}}</h3>
	                                    <p>{{description}}</p>
	                                </div>
	                                </div></a>
	                        </div>
                        {{/fav-restaurants}}
                    </div>
                    <div id="eventos-favoritos" class="tab-pane fade">
                        <div class="page-header"><h1 style="text-align:center">Eventos favoritos de {{name}}</h1></div>
                       	{{#fav-restaurants}}  
	                        <div class="col-md-4">
	                            <a href="../eventos/{{id}}"><div class="thumbnail">
	                                <img src="{{thumbnail}}" alt="{{title}}">
	                                <div class="caption">
	                                    <h3>{{title}}</h3>
	                                    <p>{{description}}</p>
	                                </div>
	                                </div></a>
	                        </div>
                        {{/fav-restaurants}}
                    </div>
                </div>
            </div>    
        </div>
        {{/user}}-->

<app-footer></app-footer>