<app-header></app-header>
<div class="container-fluid">
    <div *ngIf="loginService.isLogged" class="row">
        <app-user-menu [recipes]='true' class="col-md-2"></app-user-menu>
        <div *ngIf="recipe" class="col-md-8">
            <div class="cabecera-subrayada">
                <h1>Editar receta</h1>
            </div>
            <div class="inputs-receta">
                <h3>Título</h3>
                <input type="text" name="titulo" class="form-control" [(ngModel)]="recipe.title">
                <h3>Descripción</h3>
                <input type="text" name="descripcion" class="form-control" [(ngModel)]="recipe.description">
                <h3>Imagen de Cabecera</h3>
                <!--<input type="file" name="imagenCabecera">-->
                <input #imagenCabecera type="file" (change)="saveEvent($event)" name="file" id="input-image" />
                <h2>Cuerpo de la receta</h2>
                <div [froalaEditor] [(froalaModel)]="recipe.preparation"></div><!-- SE CAMBIA SOLO EL VALOR DE RECIPE.PREPARATION CUANDO MODIFICACMOS EL EDITOR DE TEXTO-->
                <br>
                
                <a title="Modo de escritura" data-toggle="popover" data-trigger="hover" data-content="Escribe los ingredientes principales de la receta"><label>Ingredientes...</label></a><br>
                <select2 [data]="dataIngredients" [options]="options" [value]="ingredients" [width]="870" (valueChanged)="changedIngredients($event)"></select2>
                <br><br>
                
                <a title="Modo de escritura" data-toggle="popover" data-trigger="hover" data-content="Escribe los tipos de comida de la receta"><label>Tipos de comida...</label></a><br>
                <select2 [data]="dataTypesFood" [options]="options" [value]="typesFood" [width]="870" (valueChanged)="changedTypesFood($event)"></select2>
                <br><br>
                
                <button *ngIf="editar" (click)='editarReceta()' class="btn btn-default publicar">Guardar</button>
                <button *ngIf="guardar" (click)='nuevaReceta()' class="btn btn-default publicar">Publicar</button>
            </div>
        </div>
    </div>
    <div *ngIf="!loginService.isLogged" class="row">
        <h2>No tienes permisos para ver esta parte de la web</h2>
    </div>
</div>
<app-footer></app-footer>

