<app-header></app-header>

<div class="container-fluid">
    <div *ngIf="loginService.isLogged" class="row">
        <app-user-menu [recipes]='recipes' class="col-md-2"></app-user-menu>
        <div *ngIf="user" class="col-md-8">
            <div class="cabecera-subrayada">
                <h1>Mis Recetas</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let recipe of user.myRecipes" class="col-md-4 todas-recetas">
                        <div class="thumbnail">
                            <a [routerLink]="['/recetas',recipe.id]">
                                <img src="{{recipe.thumbnail}}" alt="{{recipe.title}}">
                                <div class="caption">
                                    <h3>{{recipe.title}}</h3>
                                    <p>{{recipe.description}}</p>
                                </div> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loginService.isLogged" class="row">
        <h2>No tienes permisos para ver esta parte de la web</h2>
    </div>
</div>

<app-footer></app-footer>