<app-header></app-header>

<div class="container-fluid">
    <div *ngIf="loginService.isLogged" class="row">
        <app-user-menu [eventos]='true' class="col-md-2"></app-user-menu>
        <div *ngIf="loginService.isAdmin" class="col-md-8">
            <div class="cabecera-subrayada">
                <h1>Todas las Eventos</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let evento of eventos" class="col-md-4 todas-recetas">
                        <a [routerLink]="['/eventos',recipe.id]">
                            <div class="thumbnail">
                                <img src="{{evento.thumbnail}}" alt="{{evento.title}}">
                                <div class="caption">
                                    <h3>{{evento.title}}</h3>
                                    <p>{{evento.description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loginService.isLogged" class="row">
        <h2>No tienes permisos para ver esta parte de la web</h2>
    </div>
</div>

<app-footer></app-footer>