<app-header></app-header>

<div class="container-fluid">
    <div *ngIf="loginService.isLogged" class="row">
        <app-user-menu [myAccount]='true' class="col-md-2"></app-user-menu>
        <div *ngIf="user" class="col-md-8">
            <div class="cabecera-subrayada">
                <h1>Mi Cuenta</h1>
            </div>
            <div class="imagen-de-perfil col-md-3">
                <img src="{{user.image}}" width="200px" height="200px" />
                <div class="botones-foto">
                <input (change)="saveEvent($event)" type="file" name="imagen">
                <!--  
                     <button type="submit" class="btn btn-default separado">Quitar foto</button>
                     <button type="submit" class="btn btn-default separado">Subir foto...</button>
                     -->
                </div>
            </div>
            <div class="inputs col-md-9">
                <input type="text" class="form-control" placeholder="Nombre..." name="name" [(ngModel)]="user.name">
                <input type="text" class="form-control" placeholder="Apellido..." name="surname" [(ngModel)]="user.surname">
                <textarea [(ngModel)]="user.description" rows="9" class="form-control" placeholder="Añade una descripción:" name="description"></textarea>
                <button (click)='update()' type="submit" class="btn btn-default btn-block">Guardar</button>
            </div>
        </div>
    </div>
    <div *ngIf="!loginService.isLogged" class="row">
        <h2>No tienes permisos para ver esta parte de la web</h2>
    </div>
</div>

<app-footer></app-footer>