<div class="">
    <ul class="nav nav-pills flex-column">
        <li [class.active]="myAccount">
            <a [routerLink]="['/privado/mi-cuenta']">Mi Cuenta</a>
        </li>
        <li [class.active]="favourites">
            <a [routerLink]="['/privado/favoritos']">Favoritos <span class="glyphicon glyphicon-star-empty"></span></a>
        </li>
        
        
        <li [class.active]="recipes" style="cursor: pointer">
            <a (click)="isCollapsedRecipes = !isCollapsedRecipes" data-toggle="collapse">Recetas <span class="caret"></span></a>
            <div [class.collapse]="isCollapsedRecipes">
                <ul class="list-group">
                  <li class="list-group-item"><a [routerLink]="['/privado/mis-recetas']">Mis Recetas</a></li>
                  <li class="list-group-item"><a [routerLink]="['/privado/recetas/nuevo']">Añadir Receta</a></li>
                  <li *ngIf="loginService.isAdmin" class="list-group-item"><a [routerLink]="['/privado/todas-recetas']">Todas las recetas</a></li>
                </ul>
            </div>
        </li>
        <li *ngIf="loginService.isEnterprise" [class.active]="restaurants" style="cursor: pointer">
            <a (click)="isCollapsedRestaurants = !isCollapsedRestaurants">Restaurantes <span class="caret"></span></a>
            <div [class.collapse]="isCollapsedRestaurants">
                <ul class="list-group">         	
                  <li class="list-group-item"><a [routerLink]="['/privado/mis-restaurantes']">Mis Restaurantes</a></li>
                  <li class="list-group-item"><a [routerLink]="['/privado/restaurantes/nuevo']">Añadir Restaurante</a></li> 
                  <li *ngIf="loginService.isAdmin" class="list-group-item"><a [routerLink]="['/privado/todos-restaurantes']">Todos los restaurantes</a></li>
                </ul>
            </div> 
        </li>
        <li *ngIf="loginService.isEnterprise" [class.active]="events" style="cursor: pointer">
            <a (click)="isCollapsedEvents = !isCollapsedEvents">Eventos <span class="caret"></span></a>
            <div [class.collapse]="isCollapsedEvents">
                <ul class="list-group">
                  <li class="list-group-item"><a [routerLink]="['/privado/mis-eventos']">Mis Eventos</a></li>
                  <li class="list-group-item"><a [routerLink]="['/privado/eventos/nuevo']">Añadir Evento</a></li> 
                  <li *ngIf="loginService.isAdmin" class="list-group-item"><a [routerLink]="['/privado/todos-eventos']">Todos los eventos</a></li> 
                </ul>
            </div>
        </li>
        <li *ngIf="loginService.isAdmin" [class.active]="users">
            <a [routerLink]="['/privado/todos-usuarios']">Usuarios</a>
        </li>
        <li [class.active]="preferences">
            <a [routerLink]="['/privado/ajustes']">Ajustes <span class="glyphicon glyphicon-cog"></span></a>
        </li>
    </ul>
</div>